[Unit]
Description=Deepin Lastore Daemon
After=display-manager.service

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/libexec/lastore-daemon/lastore-daemon