[Unit]
Description=Deepin Lastore SmartMirror Daemon
After=display-manager.service

[Service]
Type=dbus
BusName=org.deepin.lastore1.Smartmirror
ExecStart=/usr/libexec/lastore-daemon/lastore-smartmirror-daemon