[Unit]
Description=Deepin Lastore Daemon
DefaultDependencies=no
After=network.target

[Service]
Type=dbus
BusName=com.deepin.lastore
ExecStart=/usr/bin/lastore-daemon

[Install]
WantedBy=multi-user.target
