[Unit]
Description=Build system info

[Service]
Type=idle
RestartSec=1s
Restart=on-failure

ExecStart=/var/lib/lastore/scripts/build_system_info -now
