[Unit]
Description=Update lastore metadata info


[Service]
Restart=on-failure
RestartSec=1min

TimeoutStartSec=infinity

ExecStart=/usr/bin/lastore-tools update -r desktop -j applications -o /var/lib/lastore/applications.json
ExecStartPost=/usr/bin/lastore-tools update -r desktop -j categories -o /var/lib/lastore/categories.json
ExecStartPost=/usr/bin/lastore-tools update -r desktop -j mirrors -o /var/lib/lastore/mirrors.json
ExecStartPost=-/usr/bin/lastore-tools metadata -u --remote=http://cdn.packages.deepin.com/deepin/tree/lastore
