Source: lastore-daemon
Section: admin
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends:
 dde-api-dev (>= 5.0.2),
 debhelper-compat (= 11),
 deepin-gettext-tools,
 golang-github-linuxdeepin-go-lib-dev (>= 1.2.2),
 golang-github-go-ini-ini-dev,
 golang-pault-go-debian-dev,
 golang-github-linuxdeepin-go-dbus-factory-dev (>= 0.0.4),
 golang-github-fsnotify-fsnotify-dev,
 golang-go | gccgo-5,
 pkg-config,
 golang-ginkgo-dev,
 golang-gomega-dev,
 golang-gopkg-check.v1-dev,
 golang-gopkg-yaml.v2-dev,
 golang-github-codegangsta-cli-dev,
 golang-github-jouyouyun-hardware-dev,
 golang-github-knqyf263-go-deb-version-dev,
 golang-github-sirupsen-logrus-dev,
 golang-github-gin-gonic-gin-dev,
 golang-github-google-uuid-dev,
 golang-github-spf13-cobra-dev,
 golang-github-stretchr-testify-dev,
 libsystemd-dev,
Standards-Version: 4.1.3
Homepage: http://github.com/linuxdeepin/lastore-daemon

Package: lastore-daemon
Architecture: any
Provides:
 update-notifier,
Depends:
 dbus,
 procps,
 binutils,
 xz-utils,
 ${dist:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 deepin-default-settings,
Description: daemon of lastore
 daemon of lastore - support dbus interface

Package: lastore-daemon-dev
Architecture: all
Depends:
 lastore-daemon  (>= ${source:Version}),
 lastore-daemon (<< ${source:Version}.1~),
 ${misc:Depends},
Description: daemon of lastore - development files.
 daemon of lastore - support dbus interface - development files.
