Source: lastore-daemon
Section: admin
Priority: extra
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 9), pkg-config, golang-go, 
 golang-dlib-dev,
 deepin-gettext-tools,
Standards-Version: 0.1
Homepage: http://github.com/linuxdeepin/lastore-daemon

Package: lastore-daemon
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
Description: daemon of lastore
 support dbus interface
Provides: update-notifier

Package: lastore-daemon-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 lastore-daemon (= ${binary:Version})
Description: daemon of lastore - development files.
 support dbus interface - development files.
