#!/usr/bin/make -f

export GOPATH := /usr/share/gocode

SYSTYPE=$(shell grep Type= /etc/deepin-version|cut -d= -f 2)

ifeq ($(DEB_BUILD_ARCH), amd64)
	depend_ostree = true
endif

ifeq ($(DEB_BUILD_ARCH), i386)
	depend_ostree = true
endif

ifdef depend_ostree
	DistDepends += ostree,
endif

%:
	dh $@

override_dh_install:
	dh_install --sourcedir=debian/tmp

ifeq ($(SYSTYPE), Professional)
override_dh_auto_configure:
	dh_auto_configure
	echo http://pd4x.packages.deepin.com/professional/tree/lastore > var/lib/lastore/scripts/metadata_remote
endif

override_dh_installdeb:
	dh_installdeb
	@echo "Remove unused conffiles which lastore-daemon should skip them."
	find debian -name "conffiles" -exec rm -f \{\} \;

override_dh_strip:
	true

ifeq ($(DEB_BUILD_ARCH), mipsel)
override_dh_auto_test:

endif

ifdef DistDepends
override_dh_gencontrol:
	dh_gencontrol -- -Vdist:Depends="$(DistDepends)"
endif
